.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    
}

 /* shared style  */
 .secondary-bg {
    background-color: #FFF8F3;
 }
 .text-primary {
    color: #FD6E0A;
}
.dark-2 {
    color: #474747;
}
.btn-primary  {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
}

/* Nav Style    */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;

}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

.text-center{
    text-align: center ;
}
 
/* header  */
.header {
    background-image: url('../images/developer.png'), url(../images/header_bg.png);
    background-repeat: no-repeat ;
    background-position: bottom left, bottom right ;
    
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 60px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles  */

.banner {
    display: flex;
    justify-content:space-between;
    margin: 0px 45px 0px 200px;   
    
}
.banner-content {
    max-width: 600px;
    margin: 0 auto;
     
}
.banner-greatings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-weight: bold;
    font-size:85px ;
}

.banner-profile {
   width: 650px;
   height: 686px;
}

/* main styles  */
main{
    max-width: 1140px;
    margin: 0 auto;
    
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about styles */

.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    background-color: #FFF8F3;

}

.about-items {
    display: flex;
    justify-content:space-around;
  
}

.item-description{
    font-weight: bold;
}

/* skills container style  */
.skills-container{
    display: flex;
    gap: 24px;
}

.skills-description {
    padding: 30px;
}

.skills {
    padding: 30px;
    border-radius: 5px;
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-top: 30px;
}