.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

 /* shared style  */
 .text-primary {
    color: #FD6E0A;
}
.dark-2 {
    color: #474747;
}
.btn-primary  {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
}

/* Nav Style    */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
 
/* header  */
.header {
    background-image: url('../images/developer.png') ,url(../images/header_bg.png);
    background-repeat: no-repeat ;
    background-position: bottom left, bottom right;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 60px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles  */

.banner {
    display: flex;
    justify-content:space-between;
    margin: 0px 45px 0px 200px;
    
}
.banner-content {
    max-width: 600px;
     
}
.banner-greatings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-weight: bold;
    font-size:85px ;
}

.banner-profile {
   width: 650px;
   height: 686px;
}